html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

img{
    pointer-events: auto;
    cursor: pointer;
}
.container{
    max-width: 500px;
    width: 100%;
    margin: 40px auto;
}
.inner{
    max-width: 300px;
    width: 100%;
    position: relative;
    
    margin: 40px auto;

}
.popup-1,.popup-2{
    max-width: 300px;
    width: 90%;
    display: block;
    position: absolute;
    background: #fff;
    border: 2px solid rgb(240, 146, 92);
    padding: 10px 10px 15px 10px;
    border-radius: 15px;
    top: -160%;
   margin: 0 auto;

}
.popup-1 p,.popup-2 p{
    text-align: left;
}
.popup-1 img,.popup-2 img{
       display: block;
       margin: 10px auto;
        width: 90%;
}
li p{
    width: 100%;
    border: 1px solid;
    box-sizing: border-box;
    padding: 0 20px;
    word-wrap: break-word;
    height: 0;
    overflow: hidden;
}
span{
    display: block;
    margin: 0 auto;
    font-size: 20px;
    text-align: center;
    line-height: 2;
}
.btn-about{
    display: block;
    margin: 10px auto 10px;
}
.menu-list{
    margin: 0 auto;
    max-width: 300px;
    width: 90%;
    
}
.menu-list li .menu-btn{
    width: 100%;
}
.popup-1 .btn-close-popup{
    width: 15%;
    display: block;
    position: absolute;
    top: -25px;
    right: -15px;
    z-index: 10;
}
.popup-2 .btn-close-popup{
    width: 15%;
    display: block;
    position: absolute;
    top: -25px;
    right: -15px;
    z-index: 10;
}