*{
    margin: 0;
    padding: 0;
}
body{
    background: #121214;
}
.header-bg{
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
}
.header-menu{
    margin-left: 69px;
    margin-top: 195px;
}
.header-menu ul{
    list-style-type: none;
    text-align: center;
    color: #f1f1f1;
    display: flex;
    justify-content: space-between;
    width: 690px;
    height: 40px;
    font-size: 19px;
}
.header-menu li{
    flex-basis: 130px;
}
.header-menu a{
    text-decoration: none;
    color: #fff;
    display: block;
}
.header-menu a:hover{
    color: red;
}
.container{
    margin-top: 130px;
    width: 900px;
    height: 602px;
    color: #595959;
}
.clear{
    clear: both;
}
.container__left-half{
    width: 235px;
    height: 358px;
    background: #1F1F1F;
    margin-left: 53px;
    float: left;
}
.container__left-half__content{
    width: 186px;
    height: 80px;
    font-size: 13px;
    text-align: left;
    margin-top: 28px;
    margin-left: 7px;
   
}
.container__left-half__list{
    width: 194px;
    height: 145px;
    font-size: 13px;
    list-style-type: none;
    text-decoration: underline;
    margin-top: 26px;
    margin-left: 20px;
}
.inner{
    margin: 0 auto;
    width: 195px;
    height: 350px;
}
.top{
    width: 194px;
    height: 146px;
    border-top: 1px solid;
   
    margin-top: 43px;
}
.bottom{
    width: 192px;
    height: 148px;
    border-top: 1px solid;
}
.container__left-half__list li::before{
    content: "";
    border-color: transparent #707070;
    border-style: solid;
    border-width: 0.2em 0 0.2em 0.35em;
    display: block;
    height: 0;
    width: 0;
    left: -0.5em;
    top: 0.8em;
    position: relative;
}
.container__right-half{
    width: 610px;
    height: 500px;
    float: right;
    margin-top: 30px;
}
.container__right-half__top{
    margin-bottom: 37px;
}
.container__pic-right-half{
    width: 394px;
    padding-right: 100px;
}
.container__right-half__content{
    width: 394px;
    margin-left: 38px;
}
.container__block-right-half{
    margin-top: 20px;
    margin-bottom: 10px;
}
.container__block-right-half,.container__content-right-half,.container__right-half__lauchlink{
    margin-left: 14px;
}
.container__content-right-half{
    font-size: 11px;
    width: 370px;
    height: 44px;
    border-bottom: 1px dotted;
    margin-bottom: 14px;
}
.container__right-half__lauchlink{
    font-size: 11px;
    text-decoration: none;
    color: #fff;
  
}
.container__right-half__lauchlink::before{
    content: url('../image/arr.png');
    margin-right: 5px;
}
.footer{
    width: 660px;
    height: 60px;
    color: #595959;
    border-top: 1px dotted;
    margin-left: 53px;
    margin-top: 70px;
}
.footer__content{
    font-size: 10px;
    margin-top: 22px;
}