.html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
    background: url('../image/wall-texture.jpg') repeat-y center center;
    font-family: "MSPGothic", "Hỉagino Gothic", sans-serif;
    background-size: 100%;
}
body img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.header{
    width: 100%;
    max-width: 640px;
    position: relative;
    margin: 0 auto;
    display: block;
    background: url('../image/wall-texture.jpg') repeat-y center center;
    background-size: 100%;
}

.header .header-video img{
    display: block;
    margin: 0 auto;
}
.header .header-video a{
    background: url('../image/title-video-bg.jpg') no-repeat center center;
    width: 95%;
    display: block;
    margin: 0 auto;
    height: 85px;
    margin-bottom: 30px;
    
}
.header .header-video .video{
    margin: 0 auto;
    display: block;
}
.header .header-video iframe{
    width: 95%;
}
.header .header-video .header-video-1{
    margin-top: 60px;
    margin-bottom: 20px;
}
.header .header-video .header-video-2{
    width: 95%;
    padding-bottom: 15px;
}
.container{
    width: 100%;
    max-width: 644px;
    margin: 0 auto;
    overflow: hidden;
}
.item-list{
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}
.item-list ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: #EDDF87;
}
.item-list li{
    width: 50%;
    position: relative;
    background: #EDDF87;
}
.item-list li:nth-child(1),.item-list li:nth-child(2){
    width: 100%;
    display: block;
}
.item-list li:nth-child(3),.item-list li:nth-child(5){
    width: 49%;
    border-right: 1px solid #6cbc64;
}
.item-list li p{
    width: 100%;
    position: absolute;
    display: block;
    color: #2a262d;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
    background: #f4ecb7;
    line-height: 2;
}
.content-text{
    background: url('../image/wall-texture.jpg') repeat-y center center;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-bottom: 44px;
}
.content-inner{
    background: #DFD277 url('../image/space-color.jpg') no-repeat top center;
    width: 100%;
    max-width: 640px;
    margin: 0 auto;
    padding-top: 40px;
    padding-bottom: 40px;
}
.content-inner li{
    font-size: 13px;
    color: #097680;
    line-height: 1.6;
    font-weight: bold;
    margin-left: 42px;
    margin-right: 30px;
}
.content-inner li:nth-child(1){
    font-size: 24px;
}
.content-inner li:nth-child(29){
    margin-top: 26px;
    margin-right: 42px;
    margin-bottom: 60px;

}
.content-inner li:nth-child(1),.content-inner li:nth-child(2),.content-inner li:nth-child(4),
.content-inner li:nth-child(6),.content-inner li:nth-child(8),.content-inner li:nth-child(10),
.content-inner li:nth-child(12),.content-inner li:nth-child(23),.content-inner li:nth-child(29){
    margin-left: 30px;
}
.content-inner a{
    background-image: linear-gradient(#EBDE84,#B7A215);
    text-decoration: none;
    max-width: 640px;
    text-align: center;
    
    border: 2px solid #B6B927;
    width: 93%;
    display: block;
    margin: 0 auto;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 15px 0; 
}
.content-inner-2{
   background: rgba(0, 0, 0, 0.6);
   max-width: 640px;
   width: 95%;
   margin: 0 auto;
   margin-top: 40px;
   padding-bottom: 15px;
}
.content-inner-2 img:nth-child(1){
    padding-top: 57px;
}
.content-inner-2 img:nth-child(2){
    margin-top: 20px;
}.group-logo-introduction{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.logo-introduction-1{
    background: url('../image/description-logo-1.png') no-repeat top left;
    width: 100%;
    height: 90px;
    position: absolute;
    z-index: 10;
    left: -25px;
    top: -25px;
}
.logo-introduction-2{
    background: url('../image/description-logo-2.png') no-repeat top right;
    width: 100%;
    height: 211px;
    position: absolute;
    top: 85px;
    right: -42px;
}
.introduction{
    background: rgba(255, 255, 255, 0.5);
    max-width: 640px;
    width: 96%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    margin: 5% 0% 2% 2%;
}
.group-logo-story{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 44px;
}
.story{
    background: rgba(255, 255, 255, 0.5);
    max-width: 640px;
    width: 96%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    margin: 5% 0% 2% 2%;
}
.logo-story-1{
    background: url(../image/description-logo-3.png) no-repeat top left;
    width: 100%;
    height: 130px;
    position: absolute;
    top: -30px;
    left: -58px;
    z-index: 10;
}
.logo-story-2{
    background: url('../image/description-logo-4.png') no-repeat top right;
    width: 100%;
    height: 211px;
    position: absolute;
    top: 588px;
    right: -25px;
}
.introduction-title,.story-title{
    font-size: 45px;
    text-align: center;
    color:  #3F17A1;
    font-weight: bold;
    font-family: Bodoni MT;
    padding-top: 30px;
    padding-bottom: 25px;
    display: block;
}
.introduction-blue,.story-blue{
    font-size: 20px;
    color: #3F17A1;
    font-weight: bold;
    line-height: 1.6;
    padding-left: 15px;
    
    width: 86%;
    max-width: 640px;
}
.introduction-gray,.story-gray,.footer-gray{
    font-size: 15px;
    color: #3C3C3C;
    font-weight: bold;
    line-height: 1.6;
    max-width: 640px;
    width: 96%;
    padding: 6% 2% 5% 2%;
}
.group-logo-footer{
    max-width: 640px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 44px;
}
.logo-footer{
    background: url('../image/description-logo-footer.png') no-repeat bottom right;
    width: 100%;
    height: 170px;
    position: absolute;
    top: 315px;
    right: 20px;
}    

.footer{
    background: rgba(255, 255, 255, 0.5);
    max-width: 640px;
    width: 96%;
    margin: 0 auto;
    z-index: 999;
    position: relative;
    margin: 5% 0% 2% 2%;
}
.copyright{
    max-width: 640px;
    width: 95%;
    margin-left: 15px;
    margin-top: 25px;
}
.copyright p{
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    font-family: Bodoni MT;
    line-height: 1.6;
}