.left-half{
    float: left;
    width: 50%;
    width: 416px;   
    padding-left: 66px;
    
}

.picture{
    width: 140px;
    height: 100px;
    float: left;
    padding-right: 20px;
    padding-bottom: 10px;
}
.title-1{
    margin-bottom: 38px;
    margin-top: 33px;
    width: 410px;
    height: 12px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.6875em;
    color: #595959;
    background-color: #0E0E0E;
}
.all{
    width: 1100px;
    height: 600px;
    background-color: #121214;    
    margin: 0 auto;
}
.right-half{
    margin-left: 40px;
    margin-top: 23px;
    float: left;
    width: 237px;
    height: 390px;
    background-color: #232326;
}   
.title{
    color: white;
    padding-right: 5px;
}
.fist-content{
    float: left;
    width: 250px;
}
.bullet:before{
    content: url("../image/arr.gif");
    padding-right: 5px;
}
.more-info::before {
    content: url("../image/arr_1.gif");
    padding-right: 8px;
}
.more-info{
    color: white;
    text-decoration: none;
}
ul{
    list-style-type: none;
}
td{
    padding-right: 10px; 
}
.hr{
    border: 1px dotted #C0C0C0;
    opacity: 0.2;
}
.contain-top{
    line-height: 14px;
    width: 415px;
    margin-bottom: 0px;
}
.left-half .bottom .title-1 {
    border-bottom: 1px dotted;
    padding-bottom: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}
.title-2{
    margin-top: 100px;
    margin-bottom: 0px;
}
.title-3{
    margin-top: 1px;
}
.list{
    width: 412px;
    line-height: 24px;
    border-bottom: 1px dotted;
    margin-bottom: 15px;
}
.clear{
    clear: both;
}
.list-left{
    float: left;
    padding-left: 0px;
}
.list-right{
    float: right;
}
.bullet{
    color: #595959;
    
}
.right-half__space-top{
    width: 213px;
    height: 73px;
    border-bottom: 0.5px solid;
    margin: 0 auto;

}
.inner{
    padding: 33px 30px 30px 30px;
    margin: 0 auto;
}
.contain-right{
    padding-bottom: 30px;
    
}
.picture-2{
    margin-left: 5px;
   
}
pre {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    width: 153px;
    height: 20px;

}