.html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style-type: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.body{
    width: 870px;
    height: 5000px;
    margin: 0 auto;
    background: url("../image/wall-texture.jpg") repeat-y center center ;
    background-size: 100%;
}
.header{
    /*width: 860px;
    height: 630px;*/
    width: 100%;
    max-width: 860px;
    position: relative;
    margin: 0 auto;
    display: block;
}
.header-title{
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid #2f9f1f;
    width: 79.41860465116279%;
    display: block;
    margin: 0 auto;
    height: 85px;
    margin-bottom: 30px;
}

.header-video{
    height: 837px;
    background: url("../image/wall-texture.jpg") no-repeat;
    padding-bottom: 30px;

}
.video{
    height: 392px;
    text-align: center;
    margin-bottom: 65px;
}
body img{
    max-width: 100%;
    display: block;
    margin: 0 auto;
}
.item-list{
    width: 860px;
    height: 645px;
}
.item-list ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-basis: 291px;
}
.item-list li {
    display: block;
    position: relative;
}
.item-list li p {
    width: 100%;
    position: absolute;
    top: 18px;
    display: block;
    color: #000000;
    font-weight: bold;
    text-align: center;
    font-size: 22px;
}
.container-inner,.decriptions{
    width: 860px;
    background: url("../image/wall-texture.jpg") repeat-y center center ;
    background-size: 100%;
    margin: 0 auto;
}
.container{
    width: 801px;
    height: 1090px;
    background: #DFD277;
    margin: 0 auto;
}
.container-content{
    width: 801px;
    margin: 0 auto;
    height: 847px;
    

}
.container-content-inner{
    width: 685px;
    margin: 0 auto;
}
.container-content-inner ul{
    font-size: 14px;
    color: #097680;
    font-weight: bolder;
    line-height: 1.1em;
}
.container-content li{
    margin-bottom: 8px;
}
.list-special{
    padding-bottom: 22px;
}
.container-content-title{
    font-size: 24px;
}

.container a{
    width: 681px;
    height: 30px;
    display: block;
    position: relative;
    margin: 0 auto;
    top: 104px;
    text-decoration: none;
    text-align: center;
    background-image: linear-gradient(#EBDE84,#B7A215);
    font-size: 30px;
    color: #097680;
    font-weight: bold;
    border: 1px solid #B2B720;
    padding-top: 18px;
    padding-bottom: 18px;
}
.decriptions{
    height: 1713px;
   
}
.decriptions-inner{
    height: 1576px;
    width: 801px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0,0.6);
    padding : 70px 0 30px;
}
.decriptions-inner-group-logo{
    max-width: 801px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.decriptions-inner-logo-1{
    background: url(../image/description-logo-1.png) no-repeat top left;
    width: 100%;
    height: 84px;
    position: absolute;
    top: -30px;
    z-index: 10;
}
.decriptions-inner-logo-3{
    background: url(../image/description-logo-3.png) no-repeat top left;
    width: 100%;
    height: 114px;
    position: absolute;
    top: -60px;
    z-index: 10;
}
.decriptions-inner-logo-2{
    background: url(../image/description-logo-2.png) no-repeat top right;
    width: 100%;
    height: 159px;
    position: absolute;
    top: -20px;
   
}
.decriptions-inner-logo-4{
    background: url(../image/description-logo-4.png) no-repeat top right;
    width: 100%;
    height: 211px;
    position: absolute;
    top: -80px;
    z-index: 10;
}
.decriptions-inner-introduction{
    max-width: 681px;
    width: 100%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 999;
    padding-bottom: 30px;
}
.decriptions-inner-introduction-content h1{
    font-size: 40px;
    color: #3F17A1;
    font-weight: bolder;
    text-align: center;
    font-family: Bodoni MT;
    display: block;
}
.decriptions-inner-introduction-content-title{
    max-width: 681px;
    height: 40px;
    padding-top: 30px;

}

.decriptions-inner-introduction-content-blue{
    max-width: 681px;
    height: 76px;
    margin-top: 23px;
    margin-bottom: 27px;
    margin-left: 20px;
}
.decriptions-inner-introduction-content-blue p{
    
    font-size: 20px;
    color: #3F17A1;
    font-weight: bold;
    line-height: 1.2em;
}
.decriptions-inner-introduction-content-gray{
    max-width: 647px;
    margin-left: 20px;
}
.decriptions-inner-introduction-content-gray p{
    font-size: 13px;
    color: #3C3C3C;
    line-height: 1.8em;
    font-weight: bold;

}
.decriptions-inner-story{
    max-width: 681px;
    width: 100%;
    margin: 40px auto;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 999;
    padding-bottom: 30px;
}
.decriptions-inner-story-content h1{
    font-size: 40px;
    color: #3F17A1;
    font-weight: bolder;
    text-align: center;
    font-family: Bodoni MT;
}
.decriptions-inner-story-content-title{
    max-width: 681px;
    height: 30px;
    padding-top: 30px;

}
.decriptions-inner-story-content-blue{
    max-width: 681px;
    height: 46px;
    margin-top: 23px;
    margin-bottom: 27px;
    margin-left: 20px;
}
.decriptions-inner-story-content-blue p{
    
    font-size: 20px;
    color: #3F17A1;
    font-weight: bold;
    line-height: 1.2em;
}
.decriptions-inner-story-content-gray{
    max-width: 647px;
    margin-left: 20px;
}
.decriptions-inner-story-content-gray p{
    font-size: 13px;
    color: #3C3C3C;
    line-height: 1.8em;
    font-weight: bold;

}
.decriptions-inner-logo-5{
    background: url(../image/description-logo-footer.png) no-repeat bottom right;
    width: 100%;
    height: 133px;
    position: absolute;
    bottom: -75px;
  
}
.decriptions-inner-group-logo-footer{
    max-width: 801px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}

.decriptions-inner-footer{
    max-width: 683px;
    width: 100%;
    margin: 40px auto;
    margin-bottom: 20px;
    background: rgba(255, 255, 255, 0.5);
    position: relative;
    z-index: 999;
}
.decriptions-inner-footer p{
    font-size: 12px;
    color: #3C3C3C;
    line-height: 1.6em;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 45px;
}
.decriptions-inner-footer-gray{
    max-width: 647px;
    margin-left: 20px;
    

}
.copyright{
    color: #fff;
    font-family: Bodoni MT;
    font-size: 13px;
    margin-left: 59px;
}
