.profile-avatar{
  float: left;
}
div.profile-info{
  width: 398px;
  height: 110px;
  overflow: scroll;
}
.title{
  font-weight: bold;
  font-size: 17px;
}
.profile .profile-title{
  background: url("../image/title_bg.gif") repeat-x bottom;
  margin-left: 2px;
  margin-top: 0px;
}
.profile{
  float: left;
  height: 120px;
  width: 100%;
  padding-bottom: 30px;
}
.fact-title{
  margin-left: 3px;
}
body{
  width: 500px;
  border: 1px solid #0033FF;
  font-size: 16px;
  font-weight: normal;
  margin: 0px auto;
  font-family: Geogria, Times New Roman, Times, Serif;
  display: block;
  margin-top: 8px;
}
li:before{
  content: url("../image/star.gif")
}
.comment-title{
  text-align: center;
  margin-top: 25px;
  font-size: 18px;
}
.comment-user{
  background-image: url("../image/comment_bt.gif");
  background-repeat: no-repeat;
  margin-left: 25px;
  padding-left: 40px;
  padding-bottom: 2px;
  font-size: 12px;
}
.comments{
  background-color: #ECECEC;
  font-size: 15px;
  margin-left: 3px;
}
ul{
  list-style-type: none;
  margin-bottom: 40px;
}
.input-label {
  padding-left: 5px;
  width: 113px;
}
#textarea{
  width: 363px;
  height: 90px;
  font-family: Geogria, Times New Roman, Times, serif;
  resize: none;
  font-size: 15px; 
}
a{
  color: #0033FF;
}
