.header-bg{
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}
.header-menu__icon{
    margin-top: 180px;
    margin-left: 20px;
}
.header-menu__title{
    margin-left: 36px;
}
.header-menu ul{
    list-style-type: none;
    text-align: center;
    width: 705px;
    display: flex;
    justify-content: space-between;
    height: 300px;
}
.header-menu ul li{
    width: 136px;
    height: 84px;
    text-align: center;
}

.header-menu a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}
.header-menu a:hover{
    color: red;
}
body{
    background: #121214;
    color: #595959;
    
}
.container{
    width: 100%;
}
.container__block-right-half,.container__content-right-half,.container__right-half__lauchlink{
        margin-left: 50px;
}   
.clear{
    clear: both;
}
.container__left-half{
    width: 234px;
    height: 350px;;
    background: #1F1F1F;
    color: #595959;
    margin-left: 58px;
    float: left;
    margin-top: 55px;

}
.container__right-half{
    float: left;
    width: 400px;
    margin-top: 70px;
}
.container__left-half__content{
    margin-left: 24px;
    width: 190px;
    border-top: 1px solid;
    border-bottom: 0.5px solid;
    text-align: left;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 65px;
    margin-top: 55px;
}
.container ul{
    list-style-type: none;
    text-decoration: underline;
}
.container ul li::before{
    content: "";
    border-color: transparent #707070;
    border-style: solid;
    border-width: 0.2em 0 0.2em 0.35em;
    display: block;
    height: 0;
    width: 0;
    left: -1em;
    top: 0.9em;
    position: relative; 
}
.container__pic-right-half{
    margin-left: 38px;
    margin-bottom: 20px;
    margin-top: 40px;
}
.container__right-half__lauchlink{
    color: #fff;
    text-decoration: none;
    font-size: 11px;
    
    
}
.container__right-half__lauchlink::before{
    content: url('../image/arr.png');
    margin-right: 8px;

}
.container__content-right-half{
    font-size: 11px;
    width: 390px;
    padding-bottom: 15px;
    border-bottom: 1px dotted;
}
.container__left-half__content,.container__left-half__list{
    font-size: 12px;
}
.footer{
    font-size: 11px;
    border-top: 1px dotted;
    margin-top: 40px;
}
.footer__content{
    padding-bottom: 50px;
    padding-top: 10px;
}


